In [2]:
import pandas as pd
import geopandas as gpd

Geographic Boundaries

In [3]:
#Geographic Boundaries
geo_bounds = gpd.read_file("/Users/jordanagresti/Personal_Projects/remote-work-housing/data/Geographic_Boundaries_MSA/tl_2025_us_cbsa.shp")
geo_bounds.head()

,CSAFP,CBSAFP,GEOID,GEOIDFQ,NAME,NAMELSAD,LSAD,MEMI,MTFCC,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,None,37340,37340,310M700US37340,"Palm Bay-Melbourne-Titusville, FL","Palm Bay-Melbourne-Titusville, FL Metro Area",M1,1,G3110,2628767922,1403935646,+28.2983112,-080.7003334,"POLYGON ((-80.98725 28.613, -80.98674 28.61301..."
1,488,34900,34900,310M700US34900,"Napa, CA","Napa, CA Metro Area",M1,1,G3110,1947608460,104442635,+38.5070999,-122.3259045,"POLYGON ((-122.10363 38.51216, -122.10364 38.5..."
2,294,35220,35220,310M700US35220,"New Castle, IN","New Castle, IN Micro Area",M2,2,G3110,1014957932,7652085,+39.9295911,-085.3973629,"POLYGON ((-85.31955 39.78736, -85.32016 39.787..."
3,None,19700,19700,310M700US19700,"Deming, NM","Deming, NM Micro Area",M2,2,G3110,7679773818,433660,+32.1845231,-107.7471911,"POLYGON ((-108.22982 32.20878, -108.22981 32.2..."
4,428,20100,20100,310M700US20100,"Dover, DE","Dover, DE Metro Area",M1,1,G3110,1517891101,549776917,+39.0970884,-075.5029819,"POLYGON ((-75.31622 39.24531, -75.31308 39.241..."

In [16]:
geo_bounds.columns

Index(['CSAFP', 'CBSAFP', 'GEOID', 'GEOIDFQ', 'NAME', 'NAMELSAD', 'LSAD',
       'MEMI', 'MTFCC', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON', 'geometry'],
      dtype='object')

In [15]:
geo_bounds.info()
#CSAFP has missing values
geo_bounds.duplicated().unique()
#no duplicates

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CSAFP     582 non-null    object
 1   CBSAFP    935 non-null    object
 2   GEOID     935 non-null    object
 3   GEOIDFQ   935 non-null    object
 4   NAME      935 non-null    object
 5   NAMELSAD  935 non-null    object
 6   LSAD      935 non-null    object
 7   MEMI      935 non-null    object
 8   MTFCC     935 non-null    object
 9   ALAND     935 non-null    int64
 10  AWATER    935 non-null    int64
 11  INTPTLAT  935 non-null    object
 12  INTPTLON  935 non-null    object
 13  geometry  935 non-null    geometry
dtypes: geometry(1), int64(2), object(11)
memory usage: 102.4+ KB

array([False])

Home Values

In [4]:
#Home Values
zhvi = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/data/Home:Rent_Value/ZHVI_Metro.csv')
zhvi.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30,2025-05-31,2025-06-30,2025-07-31,2025-08-31,2025-09-30
0,102001,0,United States,country,NaN,123328.165417,123545.139196,123814.218630,124391.341197,125055.540080,...,365372.217349,366007.694288,366471.281294,366193.660206,365661.222907,364970.033287,364347.749809,363917.639079,363688.149053,363931.687425
1,394913,1,"New York, NY",msa,NY,222096.674116,223040.459669,223992.986378,225923.174072,227921.950272,...,696533.300128,697633.014562,698948.623497,700676.336950,703154.623667,704955.084297,706457.122100,707650.653457,708454.797763,709880.464236
2,753899,2,"Los Angeles, CA",msa,CA,222620.175787,223448.605299,224552.065508,226747.580645,229148.785908,...,968173.703124,968714.163371,966675.169598,961554.657443,957217.264182,952421.630548,948047.015396,945442.656758,944366.276929,945428.022538
3,394463,3,"Chicago, IL",msa,IL,155857.310945,156001.589412,156276.370294,156959.956841,157782.229234,...,332649.038316,334015.386374,335383.265039,336242.517133,336852.936258,337148.112023,337514.741114,338367.259828,339378.680707,340732.680569
4,394514,4,"Dallas, TX",msa,TX,128023.642757,128080.664935,128146.217766,128316.451582,128540.900207,...,377150.293426,376619.688458,375829.848426,374322.685671,372189.097900,369765.587859,367394.345281,365371.532830,364005.278732,363356.229199

In [27]:
zhvi.info()
zhvi.isna().sum().head(10)    #no missing -- state name 1 missing is country

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895 entries, 0 to 894
Columns: 314 entries, RegionID to 2025-09-30
dtypes: float64(309), int64(2), object(3)
memory usage: 2.1+ MB

RegionID        0
SizeRank        0
RegionName      0
RegionType      0
StateName       1
2000-01-31    464
2000-02-29    463
2000-03-31    462
2000-04-30    460
2000-05-31    458
dtype: int64

In [29]:
id_cols = ['RegionID', 'RegionName', 'StateName']
value_cols = zhvi.columns[zhvi.columns.str.match(r"\d{4}-\d{2}-\d{2}")]
zhvi_long = zhvi.melt(id_vars = id_cols, value_vars = value_cols, var_name = 'date', value_name = 'zhvi')
zhvi_long

        RegionID       RegionName StateName        date           zhvi
0         102001    United States       NaN  2000-01-31  123328.165417
1         394913     New York, NY        NY  2000-01-31  222096.674116
2         753899  Los Angeles, CA        CA  2000-01-31  222620.175787
3         394463      Chicago, IL        IL  2000-01-31  155857.310945
4         394514       Dallas, TX        TX  2000-01-31  128023.642757
...          ...              ...       ...         ...            ...
276550    753929       Zapata, TX        TX  2025-09-30  127830.255967
276551    394743    Ketchikan, AK        AK  2025-09-30  388562.318440
276552    753874        Craig, CO        CO  2025-09-30  304708.129608
276553    395188       Vernon, TX        TX  2025-09-30   99323.858149
276554    394767       Lamesa, TX        TX  2025-09-30  106884.347847

[276555 rows x 5 columns]

In [31]:
zhvi_long['date'] = pd.to_datetime(zhvi_long['date'])
zhvi_long

        RegionID       RegionName StateName       date           zhvi
0         102001    United States       NaN 2000-01-31  123328.165417
1         394913     New York, NY        NY 2000-01-31  222096.674116
2         753899  Los Angeles, CA        CA 2000-01-31  222620.175787
3         394463      Chicago, IL        IL 2000-01-31  155857.310945
4         394514       Dallas, TX        TX 2000-01-31  128023.642757
...          ...              ...       ...        ...            ...
276550    753929       Zapata, TX        TX 2025-09-30  127830.255967
276551    394743    Ketchikan, AK        AK 2025-09-30  388562.318440
276552    753874        Craig, CO        CO 2025-09-30  304708.129608
276553    395188       Vernon, TX        TX 2025-09-30   99323.858149
276554    394767       Lamesa, TX        TX 2025-09-30  106884.347847

[276555 rows x 5 columns]

In [33]:
zhvi.duplicated().unique()

array([False])

In [6]:
#Rental Prices
zori = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/data/Home_Rent_Value/ZORI_Metro.csv')
zori.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30,2025-05-31,2025-06-30,2025-07-31,2025-08-31,2025-09-30
0,102001,0,United States,country,NaN,1187.699708,1193.115753,1198.991436,1203.873957,1208.230005,...,1946.496370,1951.853488,1956.168289,1959.712829,1962.658726,1965.060633,1968.426621,1971.491682,1975.244718,1978.610962
1,394913,1,"New York, NY",msa,NY,2339.775516,2355.226733,2369.036436,2379.004985,2383.056204,...,3376.910495,3391.413492,3403.911651,3414.445645,3425.063117,3435.072984,3450.419129,3471.567250,3493.825800,3512.302417
2,753899,2,"Los Angeles, CA",msa,CA,1791.360326,1800.825788,1811.997912,1822.454810,1831.062613,...,2905.768907,2919.595595,2929.735130,2937.590148,2936.970491,2938.418213,2941.890955,2944.932583,2950.389862,2954.473260
3,394463,3,"Chicago, IL",msa,IL,1371.236562,1372.817260,1377.145380,1381.157002,1385.580401,...,2019.496598,2028.710305,2038.511158,2049.123138,2059.755431,2070.294093,2080.812389,2092.015665,2102.370991,2112.805644
4,394514,4,"Dallas, TX",msa,TX,1085.958962,1089.748669,1093.537441,1100.096365,1104.649473,...,1706.080779,1706.523742,1709.108771,1709.126497,1710.530495,1708.476498,1708.179146,1706.163200,1705.474825,1706.103455

In [7]:
#Median Household Income
med_inc = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/data/ACS Median Household Income 5 Year/Med_Inc_2018_Data.csv')
med_inc.head()

,GEO_ID,NAME,B19013_001E,B19013_001M,Unnamed: 4
0,Geography,Geographic Area Name,Estimate!!Median household income in the past ...,Margin of Error!!Median household income in th...,NaN
1,310M400US10180,"Abilene, TX Metro Area",49945,1551,NaN
2,310M400US10380,"Aguadilla-Isabela, PR Metro Area",16369,432,NaN
3,310M400US10420,"Akron, OH Metro Area",55718,721,NaN
4,310M400US10500,"Albany, GA Metro Area",42861,1233,NaN

In [8]:
#Occupation Employment Statistics
occ_emp = pd.read_excel('/Users/jordanagresti/Personal_Projects/remote-work-housing/data/Occupational Employment and Wage Statistics/oesm18ma/MSA_M2018_dl.xlsx')
occ_emp.head()

,PRIM_STATE,AREA,AREA_NAME,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC QUOTIENT,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,AK,11260,"Anchorage, AK",00-0000,All Occupations,total,171770,1.1,1000,1,...,22.68,35.82,51.21,23740,31070,47170,74510,106510,NaN,NaN
1,AK,11260,"Anchorage, AK",11-0000,Management Occupations,major,10610,2.5,61.779,1.17,...,48.94,64.7,93.24,55490,74950,101800,134580,193930,NaN,NaN
2,AK,11260,"Anchorage, AK",11-1011,Chief Executives,detailed,400,8.7,2.307,1.71,...,78.04,#,#,85730,119660,162320,#,#,NaN,NaN
3,AK,11260,"Anchorage, AK",11-1021,General and Operations Managers,detailed,3630,4.2,21.157,1.34,...,50.1,71.35,#,55190,74860,104210,148400,#,NaN,NaN
4,AK,11260,"Anchorage, AK",11-1031,Legislators,detailed,50,1.3,0.293,0.84,...,*,*,*,20690,27640,51130,51140,51140,True,NaN

In [10]:
#Remote Work
remote_work = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/data/Remote Work/Rem_Work_2018_Data.csv')
remote_work.head()

,GEO_ID,NAME,B08006_001E,B08006_001M,B08006_002E,B08006_002M,B08006_003E,B08006_003M,B08006_004E,B08006_004M,...,B08006_047M,B08006_048E,B08006_048M,B08006_049E,B08006_049M,B08006_050E,B08006_050M,B08006_051E,B08006_051M,Unnamed: 104
0,Geography,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,"Estimate!!Total!!Car, truck, or van","Margin of Error!!Total!!Car, truck, or van","Estimate!!Total!!Car, truck, or van!!Drove alone","Margin of Error!!Total!!Car, truck, or van!!Dr...","Estimate!!Total!!Car, truck, or van!!Carpooled","Margin of Error!!Total!!Car, truck, or van!!Ca...",...,Margin of Error!!Total!!Female!!Public transpo...,Estimate!!Total!!Female!!Bicycle,Margin of Error!!Total!!Female!!Bicycle,Estimate!!Total!!Female!!Walked,Margin of Error!!Total!!Female!!Walked,"Estimate!!Total!!Female!!Taxicab, motorcycle, ...","Margin of Error!!Total!!Female!!Taxicab, motor...",Estimate!!Total!!Female!!Worked at home,Margin of Error!!Total!!Female!!Worked at home,NaN
1,310M400US10180,"Abilene, TX Metro Area",78495,3100,71373,3218,60975,3007,10398,1993,...,228,18,36,379,259,333,373,2829,922,NaN
2,310M400US10380,"Aguadilla-Isabela, PR Metro Area",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,310M400US10420,"Akron, OH Metro Area",351466,6025,318823,5880,291705,6292,27118,3369,...,195,115,143,2999,991,830,436,9808,1511,NaN
4,310M400US10500,"Albany, GA Metro Area",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
rent = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/data/Rent as Percent of Household Income/Rent_2018_Data.csv')
rent.head()

,GEO_ID,NAME,B25070_001E,B25070_001M,B25070_002E,B25070_002M,B25070_003E,B25070_003M,B25070_004E,B25070_004M,...,B25070_007M,B25070_008E,B25070_008M,B25070_009E,B25070_009M,B25070_010E,B25070_010M,B25070_011E,B25070_011M,Unnamed: 24
0,Geography,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Less than 10.0 percent,Margin of Error!!Total!!Less than 10.0 percent,Estimate!!Total!!10.0 to 14.9 percent,Margin of Error!!Total!!10.0 to 14.9 percent,Estimate!!Total!!15.0 to 19.9 percent,Margin of Error!!Total!!15.0 to 19.9 percent,...,Margin of Error!!Total!!30.0 to 34.9 percent,Estimate!!Total!!35.0 to 39.9 percent,Margin of Error!!Total!!35.0 to 39.9 percent,Estimate!!Total!!40.0 to 49.9 percent,Margin of Error!!Total!!40.0 to 49.9 percent,Estimate!!Total!!50.0 percent or more,Margin of Error!!Total!!50.0 percent or more,Estimate!!Total!!Not computed,Margin of Error!!Total!!Not computed,NaN
1,310M400US10180,"Abilene, TX Metro Area",22874,773,556,154,1946,312,3186,379,...,314,1508,280,1960,244,4354,438,2535,356,NaN
2,310M400US10380,"Aguadilla-Isabela, PR Metro Area",38732,1189,720,164,1624,293,1929,307,...,305,1037,213,1374,286,5168,453,21841,945,NaN
3,310M400US10420,"Akron, OH Metro Area",95709,1573,4341,471,9533,752,12359,875,...,690,5809,585,7185,670,21924,1137,6454,547,NaN
4,310M400US10500,"Albany, GA Metro Area",26395,787,1037,254,2919,434,2573,363,...,298,1423,255,1964,302,6741,568,2479,362,NaN