In [4]:
import pandas as pd
import geopandas as gpd

In [11]:
#Geographic Boundaries
geo_bounds = gpd.read_file("/Users/jordanagresti/Personal_Projects/remote-work-housing/data/Geographic_Boundaries_MSA/tl_2025_us_cbsa.shp")
geo_bounds.head()

,CSAFP,CBSAFP,GEOID,GEOIDFQ,NAME,NAMELSAD,LSAD,MEMI,MTFCC,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,None,37340,37340,310M700US37340,"Palm Bay-Melbourne-Titusville, FL","Palm Bay-Melbourne-Titusville, FL Metro Area",M1,1,G3110,2628767922,1403935646,+28.2983112,-080.7003334,"POLYGON ((-80.98725 28.613, -80.98674 28.61301..."
1,488,34900,34900,310M700US34900,"Napa, CA","Napa, CA Metro Area",M1,1,G3110,1947608460,104442635,+38.5070999,-122.3259045,"POLYGON ((-122.10363 38.51216, -122.10364 38.5..."
2,294,35220,35220,310M700US35220,"New Castle, IN","New Castle, IN Micro Area",M2,2,G3110,1014957932,7652085,+39.9295911,-085.3973629,"POLYGON ((-85.31955 39.78736, -85.32016 39.787..."
3,None,19700,19700,310M700US19700,"Deming, NM","Deming, NM Micro Area",M2,2,G3110,7679773818,433660,+32.1845231,-107.7471911,"POLYGON ((-108.22982 32.20878, -108.22981 32.2..."
4,428,20100,20100,310M700US20100,"Dover, DE","Dover, DE Metro Area",M1,1,G3110,1517891101,549776917,+39.0970884,-075.5029819,"POLYGON ((-75.31622 39.24531, -75.31308 39.241..."

In [12]:
#Home Values
zhvi = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/data/Home:Rent_Value/ZHVI_Metro.csv')
zhvi.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30,2025-05-31,2025-06-30,2025-07-31,2025-08-31,2025-09-30
0,102001,0,United States,country,NaN,123328.165417,123545.139196,123814.218630,124391.341197,125055.540080,...,365372.217349,366007.694288,366471.281294,366193.660206,365661.222907,364970.033287,364347.749809,363917.639079,363688.149053,363931.687425
1,394913,1,"New York, NY",msa,NY,222096.674116,223040.459669,223992.986378,225923.174072,227921.950272,...,696533.300128,697633.014562,698948.623497,700676.336950,703154.623667,704955.084297,706457.122100,707650.653457,708454.797763,709880.464236
2,753899,2,"Los Angeles, CA",msa,CA,222620.175787,223448.605299,224552.065508,226747.580645,229148.785908,...,968173.703124,968714.163371,966675.169598,961554.657443,957217.264182,952421.630548,948047.015396,945442.656758,944366.276929,945428.022538
3,394463,3,"Chicago, IL",msa,IL,155857.310945,156001.589412,156276.370294,156959.956841,157782.229234,...,332649.038316,334015.386374,335383.265039,336242.517133,336852.936258,337148.112023,337514.741114,338367.259828,339378.680707,340732.680569
4,394514,4,"Dallas, TX",msa,TX,128023.642757,128080.664935,128146.217766,128316.451582,128540.900207,...,377150.293426,376619.688458,375829.848426,374322.685671,372189.097900,369765.587859,367394.345281,365371.532830,364005.278732,363356.229199

In [13]:
#Rental Prices
zori = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/data/Home:Rent_Value/ZORI_Metro.csv')
zori.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30,2025-05-31,2025-06-30,2025-07-31,2025-08-31,2025-09-30
0,102001,0,United States,country,NaN,1187.699708,1193.115753,1198.991436,1203.873957,1208.230005,...,1946.496370,1951.853488,1956.168289,1959.712829,1962.658726,1965.060633,1968.426621,1971.491682,1975.244718,1978.610962
1,394913,1,"New York, NY",msa,NY,2339.775516,2355.226733,2369.036436,2379.004985,2383.056204,...,3376.910495,3391.413492,3403.911651,3414.445645,3425.063117,3435.072984,3450.419129,3471.567250,3493.825800,3512.302417
2,753899,2,"Los Angeles, CA",msa,CA,1791.360326,1800.825788,1811.997912,1822.454810,1831.062613,...,2905.768907,2919.595595,2929.735130,2937.590148,2936.970491,2938.418213,2941.890955,2944.932583,2950.389862,2954.473260
3,394463,3,"Chicago, IL",msa,IL,1371.236562,1372.817260,1377.145380,1381.157002,1385.580401,...,2019.496598,2028.710305,2038.511158,2049.123138,2059.755431,2070.294093,2080.812389,2092.015665,2102.370991,2112.805644
4,394514,4,"Dallas, TX",msa,TX,1085.958962,1089.748669,1093.537441,1100.096365,1104.649473,...,1706.080779,1706.523742,1709.108771,1709.126497,1710.530495,1708.476498,1708.179146,1706.163200,1705.474825,1706.103455

In [16]:
#Median Household Income
med_inc = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/data/ACS Median Household Income 5 Year/Med_Inc_2018_Data.csv')
med_inc.head()

,GEO_ID,NAME,B19013_001E,B19013_001M,Unnamed: 4
0,Geography,Geographic Area Name,Estimate!!Median household income in the past ...,Margin of Error!!Median household income in th...,NaN
1,310M400US10180,"Abilene, TX Metro Area",49945,1551,NaN
2,310M400US10380,"Aguadilla-Isabela, PR Metro Area",16369,432,NaN
3,310M400US10420,"Akron, OH Metro Area",55718,721,NaN
4,310M400US10500,"Albany, GA Metro Area",42861,1233,NaN