In [1]:
import pandas as pd

In [8]:
cities = ['San Francisco', 'Daly City', 'South San Francisco', 
          'Brisbane', 'Pacifica', 'San Leandro', 'Oakland', 
          'Berkeley', 'Alameda', 'San Bruno', 'San Rafael', 
          'Sausalito', 'Mill Valley']

def geo_area_name(city):
    city_list = []
    for city in cities:
        GAN = f'{city} city, California'
        city_list.append(GAN)
    return city_list
    
geo_area_names = geo_area_name(cities)
geo_area_names

['San Francisco city, California',
 'Daly City city, California',
 'South San Francisco city, California',
 'Brisbane city, California',
 'Pacifica city, California',
 'San Leandro city, California',
 'Oakland city, California',
 'Berkeley city, California',
 'Alameda city, California',
 'San Bruno city, California',
 'San Rafael city, California',
 'Sausalito city, California',
 'Mill Valley city, California']

In [52]:
med_inc = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/Econ_chars (DP03)/econ_char_data.csv')
med_inc.head(5)

/var/folders/4j/njttzsjx355flj2y4dyg94080000gn/T/ipykernel_38557/710554315.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,128,129,132,133,136,137,140,141,144,145,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,178,179,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,276,290,294,302,306,310,326,338,366,376,424,452,464,474,478,480,482,492,502) have mixed types. Specify dtype option on import or set low_memory=False.
  med_inc = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/Econ_chars (DP03)/econ_char_data.csv')

,GEO_ID,NAME,DP03_0001E,DP03_0001M,DP03_0002E,DP03_0002M,DP03_0003E,DP03_0003M,DP03_0004E,DP03_0004M,...,DP03_0133PM,DP03_0134PE,DP03_0134PM,DP03_0135PE,DP03_0135PM,DP03_0136PE,DP03_0136PM,DP03_0137PE,DP03_0137PM,Unnamed: 550
0,Geography,Geographic Area Name,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over,Margin of Error!!EMPLOYMENT STATUS!!Population 16 years and over,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,Margin of Error!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force,Margin of Error!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Employed,Margin of Error!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Employed,...,Percent Margin of Error!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!18 years and over,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!18 years and over!!18 to 64 years,Percent Margin of Error!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!18 years and over!!18 to 64 years,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!18 years and over!!65 years and over,Percent Margin of Error!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!18 years and over!!65 years and over,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!People in families,Percent Margin of Error!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!People in families,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!Unrelated individuals 15 years and over,Percent Margin of Error!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!Unrelated individuals 15 years and over,NaN
1,1600000US0600135,"Acalanes Ridge CDP, California",977,220,558,197,558,197,508,197,...,6.0,7.2,9.3,0.0,11.7,4.5,7.0,4.6,8.7,NaN
2,1600000US0600156,"Acampo CDP, California",258,260,133,127,133,127,133,127,...,27.7,35.0,26.2,0.0,51.1,0.0,26.8,51.7,7.2,NaN
3,1600000US0600212,"Acton CDP, California",6288,633,3534,445,3508,444,3448,440,...,6.0,7.5,3.9,13.6,13.4,6.3,5.9,19.1,10.4,NaN
4,1600000US0600296,"Adelanto city, California",26690,807,14567,750,14550,754,12865,671,...,3.0,13.8,3.3,17.7,7.4,13.9,3.8,40.9,6.0,NaN

In [53]:
median_cols = med_inc.columns[
    med_inc.iloc[0, :].str.contains('median', case=False, na=False)
]

In [54]:
pd.set_option('display.max_colwidth', None)


new = med_inc.loc[:, median_cols]
new = new.iloc[0, :]
new

DP03_0062E                                   Estimate!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Total households!!Median household income (dollars)
DP03_0062M                            Margin of Error!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Total households!!Median household income (dollars)
DP03_0086E                                              Estimate!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Families!!Median family income (dollars)
DP03_0086M                                       Margin of Error!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Families!!Median family income (dollars)
DP03_0090E                               Estimate!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Nonfamily households!!Median nonfamily income (dollars)
DP03_0090M                        Margin of Error!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Nonfamily households!!Median nonfamily income (dollars)
DP03_0092E                                                 Estimate!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Median earnings for workers (dollars)
DP03_0092M                                          Margin of Error!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Median earnings for workers (dollars)
DP03_0093E                      Estimate!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Median earnings for male full-time, year-round workers (dollars)
DP03_0093M               Margin of Error!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Median earnings for male full-time, year-round workers (dollars)
DP03_0094E                    Estimate!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Median earnings for female full-time, year-round workers (dollars)
DP03_0094M             Margin of Error!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Median earnings for female full-time, year-round workers (dollars)
DP03_0062PE                                   Percent!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Total households!!Median household income (dollars)
DP03_0062PM                   Percent Margin of Error!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Total households!!Median household income (dollars)
DP03_0086PE                                              Percent!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Families!!Median family income (dollars)
DP03_0086PM                              Percent Margin of Error!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Families!!Median family income (dollars)
DP03_0090PE                               Percent!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Nonfamily households!!Median nonfamily income (dollars)
DP03_0090PM               Percent Margin of Error!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Nonfamily households!!Median nonfamily income (dollars)
DP03_0092PE                                                 Percent!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Median earnings for workers (dollars)
DP03_0092PM                                 Percent Margin of Error!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Median earnings for workers (dollars)
DP03_0093PE                      Percent!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Median earnings for male full-time, year-round workers (dollars)
DP03_0093PM      Percent Margin of Error!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Median earnings for male full-time, year-round workers (dollars)
DP03_0094PE                    Percent!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Median earnings for female full-time, year-round workers (dollars)
DP03_0094PM    Percent Margin of Error!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Median earnings for female full-time, year-round workers (dollars)
Name: 0, dtype: object

In [57]:
med_house_inc = med_inc[['GEO_ID', 'NAME', 'DP03_0062E']]
med_house_inc.head(10)

,GEO_ID,NAME,DP03_0062E
0,Geography,Geographic Area Name,Estimate!!INCOME AND BENEFITS (IN 2023 INFLATION-ADJUSTED DOLLARS)!!Total households!!Median household income (dollars)
1,1600000US0600135,"Acalanes Ridge CDP, California",172667
2,1600000US0600156,"Acampo CDP, California",-
3,1600000US0600212,"Acton CDP, California",110000
4,1600000US0600296,"Adelanto city, California",68419
5,1600000US0600310,"Adin CDP, California",36250
6,1600000US0600394,"Agoura Hills city, California",171944
7,1600000US0600450,"Agua Dulce CDP, California",124268
8,1600000US0600464,"Aguanga CDP, California",-
9,1600000US0600478,"Ahwahnee CDP, California",65980

In [67]:
MHI_cities = med_house_inc[med_house_inc['NAME'].isin(geo_area_names)]
MHI_cities = MHI_cities.rename(columns = {'DP03_0062E': 'MEDIAN_HOUSEHOLD_INCOME'})
MHI_cities

,GEO_ID,NAME,MEDIAN_HOUSEHOLD_INCOME
11,1600000US0600562,"Alameda city, California",132015
110,1600000US0606000,"Berkeley city, California",108558
162,1600000US0608310,"Brisbane city, California",151593
350,1600000US0617918,"Daly City city, California",119570
928,1600000US0647710,"Mill Valley city, California",208466
1032,1600000US0653000,"Oakland city, California",97369
1069,1600000US0654806,"Pacifica city, California",156819
1262,1600000US0665028,"San Bruno city, California",135976
1271,1600000US0667000,"San Francisco city, California",141446
1280,1600000US0668084,"San Leandro city, California",98063
1292,1600000US0668364,"San Rafael city, California",109317
1316,1600000US0670364,"Sausalito city, California",173030
1378,1600000US0673262,"South San Francisco city, California",135909

## Housing Characteristics

In [70]:
house_chars = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/House_chars (DP04)/house_chars.csv')
house_chars.head(5)

/var/folders/4j/njttzsjx355flj2y4dyg94080000gn/T/ipykernel_38557/3782157431.py:1: DtypeWarning: Columns (2,3,4,5,6,7,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,204,205,206,207,208,209,210,211,212,213,214,215,216,217,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,298,318,340,362,376,386,400,410,430,438,446,466,472,490,506,520,538,558) have mixed types. Specify dtype option on import or set low_memory=False.
  house_chars = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/House_chars (DP04)/house_chars.csv')

,GEO_ID,NAME,DP04_0001E,DP04_0001M,DP04_0002E,DP04_0002M,DP04_0003E,DP04_0003M,DP04_0004E,DP04_0004M,...,DP04_0139PM,DP04_0140PE,DP04_0140PM,DP04_0141PE,DP04_0141PM,DP04_0142PE,DP04_0142PM,DP04_0143PE,DP04_0143PM,Unnamed: 574
0,Geography,Geographic Area Name,Estimate!!HOUSING OCCUPANCY!!Total housing units,Margin of Error!!HOUSING OCCUPANCY!!Total housing units,Estimate!!HOUSING OCCUPANCY!!Total housing units!!Occupied housing units,Margin of Error!!HOUSING OCCUPANCY!!Total housing units!!Occupied housing units,Estimate!!HOUSING OCCUPANCY!!Total housing units!!Vacant housing units,Margin of Error!!HOUSING OCCUPANCY!!Total housing units!!Vacant housing units,Estimate!!HOUSING OCCUPANCY!!Total housing units!!Homeowner vacancy rate,Margin of Error!!HOUSING OCCUPANCY!!Total housing units!!Homeowner vacancy rate,...,Percent Margin of Error!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!20.0 to 24.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!25.0 to 29.9 percent,Percent Margin of Error!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!25.0 to 29.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!30.0 to 34.9 percent,Percent Margin of Error!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!30.0 to 34.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!35.0 percent or more,Percent Margin of Error!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!35.0 percent or more,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!Not computed,Percent Margin of Error!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!Not computed,NaN
1,1600000US0600135,"Acalanes Ridge CDP, California",422,97,422,97,0,14,0.0,12.9,...,46.7,0.0,34.0,0.0,34.0,49.0,42.4,(X),(X),NaN
2,1600000US0600156,"Acampo CDP, California",133,127,133,127,0,14,0.0,51.1,...,35.7,0.0,35.7,0.0,35.7,100.0,35.7,(X),(X),NaN
3,1600000US0600212,"Acton CDP, California",2887,243,2680,220,207,135,0.0,1.7,...,14.3,0.0,33.3,0.0,33.3,66.7,34.9,(X),(X),NaN
4,1600000US0600296,"Adelanto city, California",9756,430,9192,414,564,208,0.3,0.7,...,5.4,8.7,4.2,4.3,3.1,50.9,7.6,(X),(X),NaN

In [76]:
tot_house_units = house_chars[['GEO_ID', 'NAME', 'DP04_0001E']]
tot_house_units = tot_house_units[tot_house_units['NAME'].isin(geo_area_names)]
tot_house_units.rename(columns = {'DP04_0001E': 'TOTAL_HOUSING_UNITS'}, inplace=True)
tot_house_units

,GEO_ID,NAME,TOTAL_HOUSING_UNITS
11,1600000US0600562,"Alameda city, California",32129
110,1600000US0606000,"Berkeley city, California",52112
162,1600000US0608310,"Brisbane city, California",2101
350,1600000US0617918,"Daly City city, California",35414
928,1600000US0647710,"Mill Valley city, California",6353
1032,1600000US0653000,"Oakland city, California",187847
1069,1600000US0654806,"Pacifica city, California",14596
1262,1600000US0665028,"San Bruno city, California",16736
1271,1600000US0667000,"San Francisco city, California",411542
1280,1600000US0668084,"San Leandro city, California",32285
1292,1600000US0668364,"San Rafael city, California",24212
1316,1600000US0670364,"Sausalito city, California",4536
1378,1600000US0673262,"South San Francisco city, California",23194

## Zillow Prices

In [78]:
zillow = pd.read_csv('/Users/jordanagresti/Personal_Projects/remote-work-housing/City_zori_uc_sfrcondomfr_sm_month.csv')
zillow.head(5)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2015-01-31,2015-02-28,...,2025-02-28,2025-03-31,2025-04-30,2025-05-31,2025-06-30,2025-07-31,2025-08-31,2025-09-30,2025-10-31,2025-11-30
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2528.657662,2541.502250,...,3518.974892,3558.949890,3604.291191,3638.289807,3686.378593,3729.248638,3762.565292,3756.746130,3738.977949,3707.812323
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,1770.606343,1783.594043,...,2784.048728,2807.782064,2799.587338,2798.293171,2796.136058,2799.361232,2801.150730,2802.879392,2800.825568,2790.933554
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,1165.774764,1168.255738,...,1549.711960,1558.040240,1563.264943,1564.534390,1555.764528,1555.681724,1554.545956,1558.467173,1550.125772,1542.392993
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,1457.170652,1466.548814,...,2075.425016,2101.650101,2129.151933,2154.201044,2176.898878,2189.997820,2192.318480,2188.548113,2178.714403,2173.048749
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,974.922787,978.354567,...,1369.508106,1379.117923,1381.116615,1381.756524,1379.760886,1383.779397,1379.213404,1372.251719,1360.565310,1350.560647

In [108]:
rent_price = zillow[(zillow['RegionName'].isin(cities)) & (zillow['State'] == 'CA')]
rent_price = rent_price[['RegionID', 'RegionName', 'RegionType', 'State', '2025-11-30']]
rent_price.rename(columns = {'2025-11-30': 'NOV_2025_MEDIAN_RENT_PRICE'}, inplace=True)
rent_price

,RegionID,RegionName,RegionType,State,NOV_2025_MEDIAN_RENT_PRICE
17,20330,San Francisco,city,CA,3679.658922
51,13072,Oakland,city,CA,2457.896337
347,16992,Berkeley,city,CA,2920.797835
387,13698,San Leandro,city,CA,2387.844055
424,31163,Daly City,city,CA,2729.278102
740,54301,San Rafael,city,CA,3117.600119
791,16697,Alameda,city,CA,2775.369222
856,13929,South San Francisco,city,CA,3532.924434
1389,13691,San Bruno,city,CA,2929.895238
1559,19811,Pacifica,city,CA,3560.822222
1963,19379,Mill Valley,city,CA,3949.851852
3151,47583,Sausalito,city,CA,3800.005952

### Merging Tables

In [115]:
def clean_city_names(df):
    df['NAME'] = (
        df['NAME']
        .str.replace(' city, California', '', regex=False)
    )
    return df

MHI_cities = clean_city_names(MHI_cities)
tot_house_units = clean_city_names(tot_house_units)

In [116]:
MHI_cities

                GEO_ID                 NAME MEDIAN_HOUSEHOLD_INCOME
11    1600000US0600562              Alameda                  132015
110   1600000US0606000             Berkeley                  108558
162   1600000US0608310             Brisbane                  151593
350   1600000US0617918            Daly City                  119570
928   1600000US0647710          Mill Valley                  208466
1032  1600000US0653000              Oakland                   97369
1069  1600000US0654806             Pacifica                  156819
1262  1600000US0665028            San Bruno                  135976
1271  1600000US0667000        San Francisco                  141446
1280  1600000US0668084          San Leandro                   98063
1292  1600000US0668364           San Rafael                  109317
1316  1600000US0670364            Sausalito                  173030
1378  1600000US0673262  South San Francisco                  135909

In [117]:
tot_house_units

                GEO_ID                 NAME TOTAL_HOUSING_UNITS
11    1600000US0600562              Alameda               32129
110   1600000US0606000             Berkeley               52112
162   1600000US0608310             Brisbane                2101
350   1600000US0617918            Daly City               35414
928   1600000US0647710          Mill Valley                6353
1032  1600000US0653000              Oakland              187847
1069  1600000US0654806             Pacifica               14596
1262  1600000US0665028            San Bruno               16736
1271  1600000US0667000        San Francisco              411542
1280  1600000US0668084          San Leandro               32285
1292  1600000US0668364           San Rafael               24212
1316  1600000US0670364            Sausalito                4536
1378  1600000US0673262  South San Francisco               23194

In [118]:
rent_price

,RegionID,RegionName,RegionType,State,NOV_2025_MEDIAN_RENT_PRICE
17,20330,San Francisco,city,CA,3679.658922
51,13072,Oakland,city,CA,2457.896337
347,16992,Berkeley,city,CA,2920.797835
387,13698,San Leandro,city,CA,2387.844055
424,31163,Daly City,city,CA,2729.278102
740,54301,San Rafael,city,CA,3117.600119
791,16697,Alameda,city,CA,2775.369222
856,13929,South San Francisco,city,CA,3532.924434
1389,13691,San Bruno,city,CA,2929.895238
1559,19811,Pacifica,city,CA,3560.822222
1963,19379,Mill Valley,city,CA,3949.851852
3151,47583,Sausalito,city,CA,3800.005952

In [122]:
merged_table = MHI_cities.merge(tot_house_units, on = 'NAME', how = 'outer')
merged_table = merged_table.merge(rent_price, left_on = 'NAME', right_on = 'RegionName', how = 'outer')
merged_table.drop(columns = ['GEO_ID_x', 'GEO_ID_y', 'RegionID', 'RegionType', 'State', 'RegionName'], inplace=True)
merged_table

,NAME,MEDIAN_HOUSEHOLD_INCOME,TOTAL_HOUSING_UNITS,NOV_2025_MEDIAN_RENT_PRICE
0,Alameda,132015,32129,2775.369222
1,Berkeley,108558,52112,2920.797835
2,Brisbane,151593,2101,NaN
3,Daly City,119570,35414,2729.278102
4,Mill Valley,208466,6353,3949.851852
5,Oakland,97369,187847,2457.896337
6,Pacifica,156819,14596,3560.822222
7,San Bruno,135976,16736,2929.895238
8,San Francisco,141446,411542,3679.658922
9,San Leandro,98063,32285,2387.844055
10,San Rafael,109317,24212,3117.600119
11,Sausalito,173030,4536,3800.005952
12,South San Francisco,135909,23194,3532.924434